@{
    ViewData["Title"] = "Dashboard - Analytics";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap JS (for dropdowns) -->
}

@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
}

<style>
    .myCardTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%; /* or specify a max-width, if needed */
        display: block;
    }

</style>

@if (TempData["Message"] != null)
{
    <script>
        // Safely pass TempData["Message"] to JavaScript
        ShowErrorMsg('@TempData["Message"]');

        // THIS FUNCTION IS USED TO SHOW ERROR MESSAGE
        function ShowErrorMsg(message)
        {
        //alert(message)
        Swal.fire({
        //title: 'Good job!',
        text: message,
        icon: 'success',
        customClass: {
        confirmButton: 'btn btn-primary waves-effect waves-light'
        },
        buttonsStyling: false
        });
        }
    </script>
    TempData["Message"] = null;
}

@if (TempData["SendPreviewToHO"] != null)
{
    <script>
        // Safely pass TempData["Message"] to JavaScript
        ShowErrorMsg('@TempData["SendPreviewToHO"]');

        // THIS FUNCTION IS USED TO SHOW ERROR MESSAGE
        function ShowErrorMsg(message) {
            //alert(message)
            Swal.fire({
                //title: 'Good job!',
                text: message,
                icon: 'success',
                customClass: {
                    confirmButton: 'btn btn-primary waves-effect waves-light'
                },
                buttonsStyling: false
            });
        }
    </script>
    TempData["SendPreviewToHO"] = null;
}

@* ************** First Row of Cards ************** *@
<div class="row gy-6 mb-4">
    <!-- New Order Card -->
    <a href="@Url.Action("VendorNewOrders", "Dashboard")" class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card shadow-sm rounded-3 h-100">
            <div class="card-body d-flex align-items-center p-2">
                <!-- Icon on the left -->
                <div class="rounded-circle me-2 d-flex justify-content-center align-items-center" style="width: 70px; height: 70px; background-color: #D1BCFF;">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 17.25H13.5M7.5 13.5H16.5M7.5 9.75H16.5M8.25 3.75H5.25V21.75H18.75V3.75H15.75M8.25 2.25H15.75L14.8125 5.25H9.1875L8.25 2.25Z" stroke="black" stroke-width="1" stroke-linejoin="round" />
                    </svg>
                </div>
                <!-- Content on the right -->
                <div class="text-center">
                    <h3 class="fw-bold mb-1" style="font-size: 1.5rem;">@ViewBag.NewOrderCount</h3>
                    <h6 class="card-title mb-0 text-truncate" style="font-size: 0.9rem;" title="New Orders">New Orders</h6>
                </div>
            </div>
        </div>
    </a>

    <a href="@Url.Action("AssignToSubVendor", "Dashboard")" class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card shadow-sm rounded-3 h-100">
            <div class="card-body d-flex align-items-center p-2">
                <!-- Icon on the left -->
                <div class="rounded-circle me-2 d-flex justify-content-center align-items-center" style="width: 70px; height: 70px; background-color: #D1BCFF;">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 10.001V6.001C20 3.643 20 2.465 19.268 1.732C18.535 1 17.357 1 15 1H12C9.643 1 8.464 1 7.732 1.732C7 2.465 7 3.643 7 6.001V14.001C7 16.359 7 17.538 7.732 18.271C8.352 18.891 9.293 18.985 11 19M11 5H16M11 9H16M3 1H2C1.73478 1 1.48043 1.10536 1.29289 1.29289C1.10536 1.48043 1 1.73478 1 2V16L2.5 19L4 16V2C4 1.73478 3.89464 1.48043 3.70711 1.29289C3.51957 1.10536 3.26522 1 3 1Z" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M13 17C13 17 14.5 17.5 15.5 19C15.5 19 17 15 21 13M1 5H4" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <!-- Content on the right -->
                <div class="text-center" style="max-width: 60%; overflow: hidden;">
                    <h3 class="fw-bold mb-1" style="font-size: 1.5rem;">@ViewBag.AssignSubVendorOrderCount</h3>
                    <h6 class="card-title mb-0 text-truncate" style="font-size: 0.9rem;" title="Assign To Sub Vendor">Assign To Sub Vendor</h6>
                </div>
            </div>
        </div>
    </a>


    <a href="@Url.Action("ReceivedOrderFromSubVendor", "Dashboard")" class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card shadow-sm rounded-3 h-100">
            <div class="card-body d-flex align-items-center p-2">
                <!-- Icon on the left -->
                <div class="rounded-circle me-2 d-flex justify-content-center align-items-center" style="width: 70px; height: 70px; background-color: #D1BCFF;">
                    <svg width="40" height="40" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="15" height="15" rx="1" fill="white" />
                        <path d="M13.371 15.827L16.211 13.031L15.585 12.404L13.371 14.587L12.416 13.612L11.789 14.244L13.371 15.827ZM2.77 4.731H13.232V3.731H2.769L2.77 4.731ZM14 18.116C12.886 18.116 11.941 17.7277 11.165 16.951C10.3883 16.175 10 15.23 10 14.116C10 13.002 10.3883 12.0567 11.165 11.28C11.9417 10.5033 12.8867 10.1153 14 10.116C15.1133 10.1167 16.0587 10.5047 16.836 11.28C17.6133 12.0553 18.0013 13.0007 18 14.116C18 15.2293 17.612 16.1743 16.836 16.951C16.0587 17.7277 15.1133 18.116 14 18.116ZM0 16.769V1.616C0 1.168 0.157333 0.786667 0.472 0.472C0.786667 0.157333 1.168 0 1.616 0H14.385C14.8317 0 15.2127 0.157333 15.528 0.472C15.8427 0.786667 16 1.168 16 1.616V7.56C15.8373 7.5 15.676 7.44867 15.516 7.406C15.3553 7.36333 15.1833 7.33 15 7.306V1.616C15 1.462 14.936 1.32067 14.808 1.192C14.68 1.06333 14.5387 0.999333 14.384 1H1.616C1.462 1 1.32067 1.064 1.192 1.192C1.06333 1.32 0.999333 1.46133 1 1.616V15.05H7.344C7.38933 15.3233 7.448 15.5907 7.52 15.852C7.59267 16.1133 7.69367 16.3627 7.823 16.6L7.789 16.634L6.654 15.808L5.308 16.769L3.962 15.808L2.616 16.769L1.269 15.808L0 16.769ZM2.77 12.269H7.479C7.51633 12.0857 7.56233 11.914 7.617 11.754C7.67167 11.594 7.73567 11.4323 7.809 11.269H2.77V12.269ZM2.77 8.5H10.08C10.4067 8.242 10.7567 8.027 11.13 7.855C11.5033 7.68233 11.9023 7.564 12.327 7.5H2.769L2.77 8.5Z" fill="black" />
                    </svg>

                </div>
                <!-- Content on the right -->
                <div class="text-center" style="max-width: 60%; overflow: hidden;">
                    <h3 class="fw-bold mb-1" style="font-size: 1.5rem;">@ViewBag.ReceivedFromSubVendor</h3>
                    <h6 class="card-title mb-0 text-truncate" style="font-size: 0.9rem;" title="Received Order From Sub Vendor">Received Order From Sub Vendor</h6>
                </div>
            </div>
        </div>
    </a>

    <a href="@Url.Action("OrderSendtoPreview", "Dashboard")" class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card shadow-sm rounded-3 h-100">
            <div class="card-body d-flex align-items-center p-2">
                <!-- Icon on the left -->
                <div class="rounded-circle me-2 d-flex justify-content-center align-items-center" style="width: 70px; height: 70px; background-color: #D1BCFF;">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.998 7V1H17.5L21 4.5V23H15M16 1V6H21M4.5 16.5L8 13L11.5 16.5M8 13.5V20M8 23C9.85652 23 11.637 22.2625 12.9497 20.9497C14.2625 19.637 15 17.8565 15 16C15 14.1435 14.2625 12.363 12.9497 11.0503C11.637 9.7375 9.85652 9 8 9C6.14348 9 4.36301 9.7375 3.05025 11.0503C1.7375 12.363 1 14.1435 1 16C1 17.8565 1.7375 19.637 3.05025 20.9497C4.36301 22.2625 6.14348 23 8 23Z" stroke="black" />
                    </svg>
                </div>
                <!-- Content on the right -->
                <div class="text-center" style="max-width: 60%; overflow: hidden;">
                    <h3 class="fw-bold mb-1" style="font-size: 1.5rem;">@ViewBag.OrderSendToPreview</h3>
                    <h6 class="card-title mb-0 text-truncate" style="font-size: 0.9rem;" title="Send Order To HO for Preview">Send Order To HO for Preview</h6>
                </div>
            </div>
        </div>
    </a>

</div>

@* ************** Second Row of Cards ************** *@
<div class="row gy-6 mb-4">
    <a href="@Url.Action("OrderPreviewReject", "Dashboard")" class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card shadow-sm rounded-3 h-100">
            <div class="card-body d-flex align-items-center p-2">
                <!-- Icon on the left -->
                <div class="rounded-circle me-2 d-flex justify-content-center align-items-center" style="width: 70px; height: 70px; background-color: #D1BCFF;">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.5 20.75H1.25V1.25H14.75V9.5M3.5 5.75H12.5M3.5 8.75H9.5M10.25 14.75L11.75 16.25M11.75 16.25L13.25 17.75M11.75 16.25L13.25 14.75M11.75 16.25L10.25 17.75M16.25 16.25C16.25 17.4435 15.7759 18.5881 14.932 19.432C14.0881 20.2759 12.9435 20.75 11.75 20.75C10.5565 20.75 9.41193 20.2759 8.56802 19.432C7.72411 18.5881 7.25 17.4435 7.25 16.25C7.25 15.0565 7.72411 13.9119 8.56802 13.068C9.41193 12.2241 10.5565 11.75 11.75 11.75C12.9435 11.75 14.0881 12.2241 14.932 13.068C15.7759 13.9119 16.25 15.0565 16.25 16.25Z" stroke="black" stroke-width="1" stroke-linejoin="round" />
                    </svg>
                </div>
                <!-- Content on the right -->
                <div class="text-center" style="max-width: 60%; overflow: hidden;">
                    <h3 class="fw-bold mb-1" style="font-size: 1.5rem;">@ViewBag.PreviewRejectCount</h3>
                    <h6 class="card-title mb-0 text-truncate" style="font-size: 0.9rem;" title="Order Preview Rejected From HO">Order Preview Rejected From HO</h6>
                </div>
            </div>
        </div>
    </a>

    <a href="@Url.Action("OrderComplete", "Dashboard")" class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card shadow-sm rounded-3 h-100">
            <div class="card-body d-flex align-items-center p-2">
                <!-- Icon on the left -->
                <div class="rounded-circle me-2 d-flex justify-content-center align-items-center" style="width: 70px; height: 70px; background-color: #D1BCFF;">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2H8C11.3137 2 14 4.68629 14 8V18H2V2Z" fill="white" />
                        <path d="M19.5 15L14.5 20L11 16.5L12.5 15L14.5 17L18 13.5L19.5 15ZM9.09 18H2V2H9V7H14V11.09C14.33 11.04 14.66 11 15 11C15.34 11 15.67 11.04 16 11.09V6L10 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V18C0 19.11 0.89 20 2 20H9.81C9.46 19.39 9.21 18.72 9.09 18Z" stroke="black" stroke-width="1" stroke-linejoin="round" />
                    </svg>


                </div>
                <!-- Content on the right -->
                <div class="text-center" style="max-width: 60%; overflow: hidden;">
                    <h3 class="fw-bold mb-1" style="font-size: 1.5rem;">@ViewBag.OrderCompleted</h3>
                    <h6 class="card-title mb-0 text-truncate" style="font-size: 0.9rem;" title="Complete Order">Complete Order</h6>
                </div>
            </div>
        </div>
    </a>

</div>

