@{
    int srno = 1;
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="listjs-table" id="customerList">
                    <div class="row g-4 mb-3">
                        <!-- First Row: Title and Buttons -->
                        <div class="col-12">
                           <div class="d-flex justify-content-between align-items-center flex-wrap">
                           <!-- Title -->
                           <h3 class="mb-0">State Master</h3>
                            
                               <!-- Buttons -->
                           <div class="d-flex gap-2">
                           <button type="button"  class="btn btn-danger" id="Btn_ExportToExcelStateId">Export File</button>
                            
                           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStateMasterModal" id="Btn_AddStateId" onclick="ClearAllValue()">
                           <i class="align-bottom me-1"></i>Add State
                           </button>
                           </div>
                           </div>
                        </div>

                        <!-- Second Row: Search Textbox and Buttons -->
                        <div class="col-12">
                            <div class="d-flex align-items-center gap-2">
                                <input type="text" class="form-control" name="search" placeholder="Search..." id="Txt_SearchInputStateName" maxlength="50" />
                                <button type="button" class="btn btn-primary" id="Btn_SearchStateId">Search</button>
                                <button type="button" class="btn btn-secondary" id="Btn_ResetSearchStateId">Reset</button>
                            </div>
                        </div>

                        @* THIS IS USED ONLY EDIT VIEW OPEN *@
                        <button type="button" data-bs-toggle="modal" data-bs-target="#EditStateMasterModal" id="Btn_EditStateId" style="display:none"></button>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap" id="StateMasterTable_Id">
                            <thead class="table-light">

                                <tr>
                                    <th class="sort fw-bold">
                                        <input type="checkbox" class="form-check-input Checkbox_SelectAllHeader" id="Checkbox_SelectAllHeader" />
                                    </th>
                                    <th class="sort fw-bold" data-sort="srno">SR No</th>
                                    <th class="sort fw-bold" data-sort="action">Action</th>
                                    <th class="sort fw-bold" data-sort="country_id">Country Name</th>
                                    <th class="sort fw-bold" data-sort="name">State Name</th>
                                    <th class="sort fw-bold" data-sort="status">Status</th>
                                </tr>
                            </thead>
                            <tbody class="form-check-all">
                                
                            </tbody>
                        </table>
                    </div>
                    @* THIS PARTIAL VIEW USED FOR PAGGINATION *@
                    @await Html.PartialAsync("Sections/Menu/_pagination")
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end col -->
</div>

<!-- Modal for Adding Product -->
<div class="modal fade" id="addStateMasterModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add State</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Modal Form for adding a new product group -->
                @using (Html.BeginForm("SaveAddState", "StateMaster"))
                {
                    @* <div class="row px-3">
                        <label class="form-label">Country Name<span style="color:red;font-weight:800">*</span></label>
                        <select name="CountryId" id="Select_CountryId" class="form-control" required>
                            <option value="">-- Please Select Country Id--</option>
                            @foreach (var item in ViewBag.country)
                            {
                                <option value="@item["id"]">@item["country_name"]</option>
                            }
                        </select>
                    </div> *@
					<div class="row px-3">
						 <label class="form-label">Country Name<span style="color:red;font-weight:800">*</span></label>
						<input type="text" class="form-control" name="CountryName1" id="Select_CountryId" placeholder="Type Country name..."  required />
						<div id="suggestions" class="list-group mt-1"></div>
						<input type="hidden" name="CountryId" id="CountryId" value="" />
					</div>
                    <div class="row px-3 mt-3">
                        <label class="form-label">State<span style="color:red;font-weight:800">*</span></label>
                        <input type="text" class="form-control onlyCharacterAndDash" name="Name" id="Txt_StateNameId" maxlength="50" required />
                        <span id="WarnAddDataId" style="display:none"></span>
                    </div>
                    <div class="row px-3 mt-3">
                        <label class="form-label">Remark</label>
                        <input type="text" class="form-control" name="remark" id="Txt_RemarkId" maxlength="200" />
                    </div>
                    <div class="row px-3 mt-3">
                        <label class="form-label">Status<span style="color:red;font-weight:800">*</span></label>
                        <div class="row pt-2">
                            <div class="col-md-3">
                                <input type="radio" class="form-check-input" id="Radio_IsActiveId" name="IsActive" value="1" checked />
                                <label> Active</label>&nbsp;
                            </div>
                            <div class="col-md-4">
                                <input type="radio" class="form-check-input" id="Radio_DeactiveId" name="IsActive" value="0">&nbsp;
                                <label> Deactive</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex justify-content-end gap-2 px-3">
                        <div>
                            <button type="submit" class="btn btn-primary" id="Btn_SubmitId" onclick="return ValidateData()">
                                <i class="align-bottom me-1"></i> Add
                            </button>
                        </div>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal for Editing Product -->
<div class="modal fade" id="EditStateMasterModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit State</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Modal Form for editing -->
                @using (Html.BeginForm("SaveEditState", "StateMaster"))
                {
                    <input type="hidden" id="RecordId" name="UpdateRecordId" />
                    <div class="row px-3">
                        <label class="form-label">Country Name<span style="color:red;font-weight:800">*</span></label>
                        <select name="CountryId" id="Select_UpdateCountryId" class="form-control" required>
                            @foreach (var item in ViewBag.country)
                            {
                                <option value="@item["id"]">@item["country_name"]</option>
                            }
                        </select>
                    </div>
                    <div class="row px-3 mt-3">
                        <label class="form-label">State<span style="color:red;font-weight:800">*</span></label>
                        <input type="text" class="form-control onlyCharacterAndDash" name="Name" id="Txt_UpdateStateNameId" maxlength="50" required />
                        <span id="WarnUpdateDataId" style="display:none"></span>
                    </div>
                    <div class="row px-3 mt-3">
                        <label class="form-label">Remark</label>
                        <input type="text" class="form-control" name="remark" id="Txt_UpdateRemarkId" maxlength="200" />
                    </div>
                    <div class="row px-3 mt-3">
                        <label class="form-label">Status <span style="color:red;font-weight:800">*</span></label>
                        <div class="row pt-2">
                            <div class="col-md-3">
                                <input type="radio" class="form-check-input" id="Radio_UpdateActiveId" name="IsActive" value="1" checked />
                                <label> Active</label>&nbsp;
                            </div>
                            <div class="col-md-4">
                                    <input type="radio" class="form-check-input" id="Radio_UpdateDeactiveId" name="IsActive" value="0">&nbsp;
                                <label> Deactive</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center align-items-center px-3">
                        <div>
                            <button type="submit" class="btn btn-primary d-grid" id="Btn_UpdateId">
                                <i class="align-bottom me-1"></i> Update
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal for History Details -->
<div class="modal fade" id="HistoryModalState" tabindex="-1" aria-labelledby="HistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">History Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive table-card mt-3 mb-1">
                    <table class="table align-middle table-nowrap" id="StateHistorytable-id">
                        <thead class="table-light">
                            <tr>
                                <th>Action</th>
                                <th>Country Name</th>
                                <th>State Name</th>
                                <th>Status</th>
                                <th>Ip Address</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Updated At</th>
                                <th>Updated By</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

	 ////VINA CODE START FOR SEARCH FUNCTIONALITY
		let CountryGroupRecords = [];
		 // THIS IS TO VALIDATE CORRECT COUNTRY NAME IS DISPLAY
		function ValidateData()
		{
				if($("#CountryId").val() == "")
				{
					ShowWarning("Enter Valid Country Name...")
					return false;
				}
			  else{
				  return true;
				}
		}
		 //SEARCH FUNCTION
		$(document).ready(function ()
		{
			 //THIS FUNCTION IS USED TO SEARCH ON COUNTRY  NAME TYPED
			$('#Select_CountryId').on('keyup', function ()
				  {
					  let inp = $(this);
					  const searchTerm = inp.val().trim().toLowerCase();
					  let filteredResults = CountryGroupRecords.filter(country => {
					  let nameMatch = country.country_name.toLowerCase().includes(searchTerm);
					  return nameMatch;
					 });
					renderSuggestions(filteredResults, inp);
					if ([2,4].includes(searchTerm.length))
				  {
					  loadProductGroupData(searchTerm, inp);

				  }
			  });
			   // THIS FUNCTION IS USED TO BIND ID AND NAME ON COUNTRY NAME  DROPDOWN SHOWS
			  $('#suggestions').on('click', '.list-group-item', function () {
				const selectedName = $(this).text();
				const selectedId = $(this).data('id');
				$('#Select_CountryId').val(selectedName);
				$('#CountryId').val(selectedId);
				$('#suggestions').empty();
			  });
		});
		// THIS FUNCTION IS USED TO LIST COUNTRY GROUPS
		function loadProductGroupData(searchTerm, inp) {
				$.ajax({
					url: '/StateMaster/GetFilteredCountryGroups',
					type: 'GET',
					data: {

						SearchItem: searchTerm
					},
					success: function (data) {
						if (Array.isArray(data)) {
								 CountryGroupRecords = data;
							renderSuggestions(data, inp);
						}
					},
					error: function (error) {
						console.error("Error fetching customer data:", error);
					}
				});
			}

		//THIS FUNCTION IS USED TO FILTER THE FILTERED DATA 
			function renderSuggestions(data, inp)
			{
				const suggestionBox = document.getElementById('suggestions');
				suggestionBox.innerHTML = '';

				// Get and normalize input value (supports jQuery or native input)
				const inputValue = (inp.val ? inp.val() : inp.value).trim().toLowerCase();

				const filteredData = data.filter(item =>
						 item.country_name.toLowerCase().includes(inputValue)
				);
				if (filteredData.length === 0) {
					const noResult = document.createElement('div');
					noResult.classList.add('list-group-item', 'text-muted');
					noResult.textContent = 'No matches found';
					suggestionBox.appendChild(noResult);
					return;
				}
				filteredData.forEach(item => {
					const div = document.createElement('div');
					div.classList.add('list-group-item', 'list-group-item-action');
						 div.textContent = item.country_name;

					// Set a data attribute for ID
					div.setAttribute('data-id', item.id);

					div.addEventListener('click', function () {
							 const name = item.country_name;
						const id = item.id;
						// Set name in the input box
						if (inp.val) {
							inp.val(name); // jQuery
						} else {
							inp.value = name; // Native input
						}
						// You could also set it in a hidden input if needed:
							 const hiddenInput = document.getElementById('CountryId');
						if (hiddenInput) hiddenInput.value = id;

						suggestionBox.innerHTML = ''; // Clear suggestions
					});

					suggestionBox.appendChild(div);
				});
			}
	//end code

		// THIS FUNCTION IS USED TO SHOW ERROR MESSAGE
    function ShowWarning(message) {
        Swal.fire({
            //title: 'Good job!',
            text: message,
            icon: 'warning',
            customClass: {
                confirmButton: 'btn btn-primary waves-effect waves-light'
            },
            buttonsStyling: false
        });

    }
    // THIS FUNCTION IS USED TO SHOW ERROR MESSAGE
    function ShowErrorMsg(message) {
        Swal.fire({
            //title: 'Good job!',
            text: message,
            icon: 'success',
            customClass: {
                confirmButton: 'btn btn-primary waves-effect waves-light'
            },
            buttonsStyling: false
        });

    }

    function loadPageData(page, rowsToShow) {
        GetStateMasterData(page, $('#ShowRowid').val());


    }
    // Function to update the Select All checkbox state based on individual checkbox selections
    function updateSelectAllCheckboxState() {
        var table = $("#StateMasterTable_Id");
        var allChecked = table.find(".RowCheckbox").length === table.find(".RowCheckbox:checked").length;
        table.find(".Checkbox_SelectAllHeader").prop('checked', allChecked);
    }


    var selectedRowIds = [];
    var SearchText;

    $(document).ready(function () {

        GetStateMasterData(1, $('#ShowRowid').val());

        $(".Checkbox_SelectAllHeader").on("change", function () {
            var isChecked = $(this).prop('checked');  // Get the checked state of the header checkbox
            var table = $(this).closest('table');  // Find the closest table to the clicked checkbox

            // Select or deselect all row checkboxes based on the header checkbox state
            table.find(".RowCheckbox").prop('checked', isChecked);

            // Update the selectedRowIds array based on the "Select All" checkbox
            if (isChecked) {
                // Add all row IDs to the selectedRowIds array for the specific table
                table.find(".RowCheckbox").each(function () {
                    var rowId = $(this).data('id');
                    if (rowId && !selectedRowIds.includes(rowId)) {
                        selectedRowIds.push(rowId);
                    }
                });
            } else {

                table.find(".RowCheckbox").each(function () {
                    var rowId = $(this).data('id');
                    if (rowId) {
                        // Only remove the rowId from the selectedRowIds array if the checkbox is unchecked
                        selectedRowIds = selectedRowIds.filter(function (id) {
                            return id !== rowId;
                        });
                    }
                });
            }
        });

        $(document).on("change", ".RowCheckbox", function () {
            var isChecked = $(this).prop('checked');  // Get the checked state of the checkbox
            var rowId = $(this).data('id');  // Get the row ID from data attribute
            var table = $(this).closest('table');  // Find the closest table to the clicked checkbox

            // Add or remove the row ID from the selectedRowIds array based on checkbox state
            if (isChecked) {
                if (!selectedRowIds.includes(rowId)) {
                    selectedRowIds.push(rowId);
                }
            } else {
                var index = selectedRowIds.indexOf(rowId);
                if (index !== -1) {
                    selectedRowIds.splice(index, 1);
                }
            }

            // Update the "Select All" checkbox state based on whether all checkboxes in the current table are checked
            updateSelectAllCheckboxState()


        });

        // THIS FUNCTION IS USED TO SHOW ERROR MESSAGE
        if ('@TempData["Message"]' !== "") {
            ShowErrorMsg('@TempData["Message"]');
        }

    @{
        TempData.Remove("Message");  // Remove specific key "Message" from TempData
    }

            function sendSelectedRowIds() {
                // Check if there are any selected row IDs
                var searchValue = SearchText;
                var rowIdsString = selectedRowIds.join(',');
                // Make an AJAX request to send the data to the controller action
                $.ajax({
                    type: "POST",
                    url: "/StateMaster/ExportdataExcelState",
                    data: {
                        selectedRowIds: rowIdsString,
                        searchValue: searchValue
                    },
                    success: function (response) {
                        if (response.success) {
                            // Decode Base64 to binary string
                            var byteCharacters = atob(response.fileContent); // Decode Base64 to binary string
                            var byteArray = new Uint8Array(byteCharacters.length);

                            for (var i = 0; i < byteCharacters.length; i++) {
                                byteArray[i] = byteCharacters.charCodeAt(i); // Convert to byte array
                            }

                            // Create a blob from the byte array
                            var blob = new Blob([byteArray], { type: response.fileType });

                            // Create a link element for downloading
                            var link = document.createElement('a');
                            link.href = URL.createObjectURL(blob);
                            link.download = response.fileName; // Set the download file name
                            link.click();
                        } else {
                            ShowErrorMsg(response.message)
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle the error (failure)
                        console.error('Error occurred while sending data to the server:', error);

                        // Optionally, display an error message
                        alert('An error occurred while processing your request.');
                    }
                });

            }


        $('#Btn_SearchStateId').on('click', function () {
            SearchText = $('#Txt_SearchInputStateName').val();
            GetStateMasterData(1, $('#ShowRowid').val());
        });

        $("#Btn_ResetSearchStateId").on("click", function () {
            location.reload();
        });


        // EXPORT TO EXCEL BUTTON FUNCTIONALITY
        $("#Btn_ExportToExcelStateId").click(function () {

            sendSelectedRowIds();

        });

    });
    //TEXTBOX VALIDATION
    $(document).on('keypress', '.onlyCharacterAndDash', function (event) {
        // Restrict first character to be alphabetic only
        if (this.value.length === 0 && !/[a-zA-Z]/.test(String.fromCharCode(event.which))) {
            event.preventDefault();
            return false;
        }

        var regex = new RegExp("^[a-zA-Z -_]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

        // Allow only alphabetic characters, space, underscore, and dash
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }

        var lastChar = this.value.slice(-1);

        // Prevent consecutive spaces, underscores, or dashes
        if (
            ((event.which === 32 && lastChar === ' ') ||
                (event.which === 45 && lastChar === '-') ||
                (event.which === 95 && lastChar === '_'))
        ) {
            event.preventDefault();
            return false;
        }

        // Prevent a space, underscore, or dash directly after another space, underscore, or dash
        if (
            (event.which === 32 || event.which === 45 || event.which === 95) &&
            (lastChar === ' ' || lastChar === '-' || lastChar === '_')
        ) {
            event.preventDefault();
            return false;
        }

        // Ensure space, underscore, or dash is allowed only after two words
        var parts = this.value.split(/[\s-_]+/);
        if (parts.length > 2 && (event.which === 32 || event.which === 45 || event.which === 95)) {
            event.preventDefault();
            return false;
        }
    });

    function EditStateId(id, Flag) {
        $("#WarnAddDataId").css({ "display": "none" });
        $("#WarnUpdateDataId").css({ "display": "none" });

        $.ajax({
            type: "POST",
            url: "/StateMaster/EditState",
            data: {
                ID: id,
                Flag: Flag
            },
            success: function (data) {
                var res = JSON.parse(data);
                var CountryData = res["StateData"]
                console.log(CountryData)

                var Flag = res["Flag"]
                //console.log(Flag)
                if (Flag === "Show") {
                    $("#Btn_UpdateId").prop("disabled", false);
                }
                else {
                    $("#Btn_UpdateId").prop("disabled", true);
                }


                $("#addProductModalLabel").text("Edit Country Details")
                document.getElementById('RecordId').value = CountryData[0]["id"];
                document.getElementById('Select_UpdateCountryId').value = CountryData[0]["country_id"];
                document.getElementById('Txt_UpdateStateNameId').value = CountryData[0]["state_name"];
                document.getElementById('Txt_UpdateRemarkId').value = CountryData[0]["remark"];

                //THIS IS USED FOR CHECKED ACTIVE INACTIVE
                if (CountryData[0]["is_active"] == "1") {
                    $("#Radio_UpdateActiveId").prop("checked", true);
                } else {
                    $("#Radio_UpdateDeactiveId").prop("checked", true);
                }

                $("#Btn_EditStateId").click();

            },
            error: function (response) {

            }
        });
    }

    $('#Txt_StateNameId, #Txt_UpdateStateNameId').on("change paste", function () {
        const inputFieldId = $(this).attr('id'); // Get the ID of the field that triggered the event
        const value = $(this).val();

        $.ajax({
            type: "POST",
            url: "/StateMaster/CheckDuplicateRecord",
            data: {
                ColName: "state_name",
                value: value
            },
            success: function (data) {
                if (data > 0) {
                    // Clear the field that triggered the event
                    $('#' + inputFieldId).val("");

                    // Show warning for the respective field
                    if (inputFieldId === "Txt_StateNameId") {
                        $("#WarnAddDataId").css({ "display": "block", "color": "red" }).text("State Name Already Exists...");
                    } else if (inputFieldId === "Txt_UpdateStateNameId") {
                        $("#WarnUpdateDataId").css({ "display": "block", "color": "red" }).text("State Name Already Exists...");
                    }
                } else {
                    $("#WarnAddDataId").css({ "display": "none" });
                    $("#WarnUpdateDataId").css({ "display": "none" });
                }
            },
            error: function (response) {
                console.error("Error during AJAX request:", response);
            }
        });
    });

   function ClearAllValue() {
        $("#Select_CountryId").val("");
		$("#suggestions").empty();
        $("#Txt_StateNameId").val("");
        $("#Txt_RemarkId").val("");
        $("#WarnAddDataId").css({ "display": "none" });
        $("#WarnUpdateDataId").css({ "display": "none" });
    }

    function GetStateMasterData(pageNumber, pageSize) {
        const data = {
            PageNumber: pageNumber,
            PageSize: pageSize,
            SearchText: SearchText // Replace or use a global variable if required
        };

        $.ajax({
            type: "POST",
            url: "/StateMaster/GetStateData", // Update with the correct backend route
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                const stateData = response.StateData;
                const paginationInfo = response.PaginationInfo;

                // Bind data to the table
                TableBindStateMasterData(stateData, paginationInfo);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching state data:", xhr.responseText);

                $("#StateMasterTable_Id tbody").empty();
                $("#StateMasterTable_Id tbody").html(`
                    <tr>
                        <td colspan="6" style="text-align: center;">No Data Available</td>
                    </tr>
                `);
                generatePagination(1, $('#ShowRowid').val()); // Handle pagination for empty data
            }
        });
    }

    function TableBindStateMasterData(res, paginationInfo) {
        $("#StateMasterTable_Id tbody").empty(); // Clear table body

        let srno;
        if (paginationInfo && paginationInfo.length > 0) {
            const totalRows = paginationInfo[0].TotalRows;
            const totalPages = paginationInfo[0].TotalPages;
            const pageNumber = paginationInfo[0].PageNumber;
            const pageSize = paginationInfo[0].PageSize;
            srno = (pageNumber - 1) * pageSize + 1;

            generatePagination(totalPages, pageNumber); // Generate pagination dynamically
        } else {
            console.error('PaginationInfo is missing or incorrect.');
        }

        if (Array.isArray(res) && res.length > 0) {
            res.forEach(item => {
                const stateId = item.id.toString();

                const isChecked = selectedRowIds.some(id => {
                    return id.toString() === stateId;
                });

                const data = `
                    <tr id="${item.id}">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input RowCheckbox" type="checkbox" data-id="${item.id}" id="StateRowCheckBoxId_${item.id}" ${isChecked ? 'checked' : ''}>
                            </div>
                        </td>
                        <td>${srno}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <div class="edit">
                                    <span class="btn btn-sm btn-success" style="margin:1px; cursor:pointer;" onclick="EditStateId(${item.id}, 'Show')" id="Btn_EditStateId">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                </div>
                               
                            </div>
                        </td>
                        <td>${item.country_name || ''}</td>
                        <td>${item.state_name || ''}</td>
                        <td>${item.is_active === 1 ? "Active" : "Deactive"}</td>
                    </tr>
                `;

                $("#StateMasterTable_Id tbody").append(data);

                srno++;
            });
        } else {
            $("#StateMasterTable_Id tbody").html(`
                <tr>
                    <td colspan="6" style="text-align: center;">No Data Available</td>
                </tr>
            `);
        }

        updateSelectAllCheckboxState(); // Update "Select All" checkbox state
    }

    // THIS FUNCTION IS USED TO SHOW HISTORY DETAILS
    function ShowHistory(id) {

        $.ajax({
            type: "POST",
            url: "/StateMaster/GetHistoryData",
            data: { id: id },
            success: function (data) {
                var res = JSON.parse(data);
                var HistoryData = res["HistoryData"];

                $("#StateHistorytable-id tbody").empty();


                if (HistoryData.length > 0) {

                    HistoryData.forEach(function (item) {
                        var row = '<tr>';
                        row += '<td>' + (item.action_name === 'A' ? 'Add' : item.action_name === 'U' ? 'Update' : 'Delete') + '</td>';
                        row += '<td>' + (item.country_name || '') + '</td>';
                        row += '<td>' + (item.state_name || '') + '</td>';
                        row += '<td>' + (item.is_active == '1' ? 'Active' : 'Deactive') + '</td>';
                        row += '<td>' + (item.ip_address || '') + '</td>';
                        row += '<td>' + (item.created_at || '') + '</td>';
                        row += '<td>' + (item.created_by || '') + '</td>';
                        row += '<td>' + (item.updated_at || '') + '</td>';
                        row += '<td>' + (item.updated_by || '') + '</td>';
                        row += '</tr>';

                        $("#StateHistorytable-id tbody").append(row); // This is correct
                    });
                } else {
                    // If no data, show a message (optional)
                    historyTableBody.append('<tr><td colspan="13" class="text-center">No history available</td></tr>');
                }
            },
            error: function (response) {
                console.error("Error during AJAX request:", response);
            }
        });
    }

</script>
